elginTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://www.elgin.org.uk/schemas/data"
	xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.elgin.org.uk/schemas/data"
	elementFormDefault="qualified">
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="gml/03-105r1_GML_3.1.1/GML-3.1.1/base/geometryBasic2d.xsd"/>
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="gml/03-105r1_GML_3.1.1/GML-3.1.1/base/feature.xsd"/>
	<element name="EToNVersion" type="integer">
		<annotation>
			<documentation>The EToN version used in the EToN data. Not applicable to Incident and TM
				data</documentation>
		</annotation>
	</element>
	<element name="HighwayAuthority">
		<annotation>
			<documentation>Identifies the Highway Authority area in which the data is
				located.</documentation>
		</annotation>
		<complexType mixed="true">
			<attribute name="id" type="string" use="required">
				<annotation>
					<documentation>Identifies the Highway Authority area in which the data is
						located.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="eLocationDescription" type="string">
		<annotation>
			<documentation>Road name and location of the Entity</documentation>
		</annotation>
	</element>
	<element name="ePermitStatus" type="e:PermitStatusCType">
		<annotation>
			<documentation>The Permit status of the EToN works. Only relevant to EToN works where
				the works is on a permitable USRN </documentation>
		</annotation>
	</element>
	<element name="eWorksActivity">
		<annotation>
			<documentation>"The works Activity. 
				Relevant to EToN data"
			</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="code" type="string">
						<annotation>
							<documentation>The code for EntityWorksActivity</documentation>
						</annotation>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="eStatus" type="string">
		<annotation>
			<documentation>Current status of Entity, e.g. "Advanced planning".</documentation>
		</annotation>
	</element>
	<element name="iOriginatingSystem" type="string">
		<annotation>
			<documentation>Identifies the system in which the Item data content was
				created</documentation>
		</annotation>
	</element>
	<element name="eOriginatingSystem" type="string">
		<annotation>
			<documentation>Identifies the system in which the Entity data content was
				created</documentation>
		</annotation>
	</element>
	<element name="eURL" type="anyURI">
		<annotation>
			<documentation>Deep link to Entity on roadworks.org</documentation>
		</annotation>
	</element>
	<element name="iURL" type="anyURI">
		<annotation>
			<documentation>Deep link to Item on roadworks.org</documentation>
		</annotation>
	</element>
	<element name="eCancelled" type="boolean">
		<annotation>
			<documentation>Indicates if the Entity is cancelled</documentation>
		</annotation>
	</element>
	<element name="iCancelled" type="boolean">
		<annotation>
			<documentation>Indicates if the Item is cancelled</documentation>
		</annotation>
	</element>
	<element name="eConfirmed" type="boolean">
		<annotation>
			<documentation>A flag to identify if the works has been confirmed. An EToN works, and a
				TM works associated with an EToN works is considered CONFIRMED unless: 1) When an
				EToN roadworks' start date has passed but no confirmed works start alert has been
				receieved from the LHA 2) When an EToN roadworks' end date has passed and the works
				is still in it's grace period, but still considered active as no confirmed works
				stop alert has been received from the LHA All other TM works and Incidents are
				considered CONFIRMED </documentation>
		</annotation>
	</element>
	<element name="iConfirmed" type="boolean">
		<annotation>
			<documentation>A flag to identify if the works has been confirmed. An EToN works, and a
				TM works associated with an EToN works is considered CONFIRMED unless: 1) When an
				EToN roadworks' start date has passed but no confirmed works start alert has been
				receieved from the LHA 2) When an EToN roadworks' end date has passed and the works
				is still in it's grace period, but still considered active as no confirmed works
				stop alert has been received from the LHA All other TM works and Incidents are
				considered CONFIRMED </documentation>
		</annotation>
	</element>
	<element name="iDirectionOfTravel" type="string">
		<annotation>
			<documentation>The direction of the travel where the Item occurs</documentation>
		</annotation>
	</element>
	<element name="eRoadName" type="string">
		<annotation>
			<documentation>The name of the road on which the Entity lies.</documentation>
		</annotation>
	</element>
	<element name="iRoadName" type="string">
		<annotation>
			<documentation>The name of the road on which the item lies.</documentation>
		</annotation>
	</element>
	<element name="eUsrnList" type="string">
		<annotation>
			<documentation>Comma delimited list of USRNs corresponding to Entity geometry USRN
				stands for Unique Street Reference Number. A USRN identifies a street segment in the
				UK Natonal Street Gazetteer </documentation>
		</annotation>
	</element>
	<element name="iUsrnList" type="string">
		<annotation>
			<documentation>Comma delimited list of USRNs corresponding to Item geometry USRN stands
				for Unique Street Reference Number. A USRN identifies a street segment in the UK
				Natonal Street Gazetteer </documentation>
		</annotation>
	</element>
	<element name="ResponsibleOrganisation">
		<annotation>
			<documentation>The organisation responsible for the traffic disruption. Identifies the
				organisation source of the data. The name of the Local Authority/Utility/National
				Highways Agency from whom the data was sourced. Please refer to an authoritative
				list <a href="http://www.thensg.org.uk/iansg/link.htm?legacy=true&amp;nwid=20026">here</a>. </documentation>
		</annotation>
		<complexType mixed="true">
			<attribute name="id" type="string" use="required">
				<annotation>
					<documentation>The Responsible Organisation's Section ID. This is an EToN field.
						This is an official DfT code associated with the Publisher's SWA_ORG_REF.
						Ref: http://www.thensg.org.uk/iansg/link.htm?legacy=true&amp;nwid=20026
					</documentation>
				</annotation>
			</attribute>
			<attribute name="district" type="string" use="optional">
				<annotation>
					<documentation>Identifies the organisation source of the data</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<simpleType name="CodeSType">
		<restriction base="string">
			<pattern value=".+"/>
		</restriction>
	</simpleType>
	<element name="eCollection">
		<annotation>
			<documentation>A textual description for the eCollection/@ID</documentation>
		</annotation>
		<complexType mixed="true">
			<attribute name="id" type="string" use="optional">
				<annotation>
					<documentation>ID identifying a collection of Entities. Grouping by this field
						will generate a list of all Entities belonging to a collection such as a
						major road scheme. For a majority of the roadworks data this reference code
						is the same format as the SourceReference field. Where an EToN ProjectID is
						present it is encoded as the EntityCollectionID. For Incidents this data
						will be Null </documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="eDescription" type="string">
		<annotation>
			<documentation>Description of "parent" Entity</documentation>
		</annotation>
	</element>
	<element name="eEnd" type="e:UnDerivedDateTimeSType">
		<annotation>
			<documentation>End datetime of "parent" Entity</documentation>
		</annotation>
	</element>
	<element name="eStart" type="e:UnDerivedDateTimeSType">
		<annotation>
			<documentation>Start datetime of "parent" Entity</documentation>
		</annotation>
	</element>
	<element name="iEnd" type="e:DateTimeSType">
		<annotation>
			<documentation>End datetime of "child" Item. This value is mandatory as where it is
				missing from the source data it is derived from the Entity.</documentation>
		</annotation>
	</element>
	<element name="iStart" type="e:DateTimeSType">
		<annotation>
			<documentation>Start datetime of "child" Item. This value is mandatory as where it is
				missing from the source data it is derived from the Entity.</documentation>
		</annotation>
	</element>
	<element name="eSchedule">
		<annotation>
			<documentation>Array of start and end datetimes when Entity is active. AKA Enforcement
				Pattern.</documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="1" maxOccurs="unbounded">
				<element ref="e:ScheduleStartEnd" maxOccurs="unbounded"/>
				<element name="Text" type="string" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="iSchedule">
		<annotation>
			<documentation>Array of start and end datetimes when Item is active. AKA Enforcement
				Pattern</documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="1" maxOccurs="unbounded">
				<element ref="e:ScheduleStartEnd" maxOccurs="unbounded"/>
				<element name="Text" type="string" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="ScheduleStartEnd">
		<complexType>
			<attribute name="Start" type="dateTime"/>
			<attribute name="End" type="dateTime"/>
		</complexType>
	</element>
	<element name="iLocationDescription" type="string">
		<annotation>
			<documentation>Road name and location of the Item</documentation>
		</annotation>
	</element>
	<element name="LastUpdated" type="dateTime">
		<annotation>
			<documentation>Datetime when the data was last updated within
				roadworks.org</documentation>
		</annotation>
	</element>
	<element name="eSourceID">
		<annotation>
			<documentation>The reference used by the originating system from which the data was
				sourced. For roadworks this is the Eton works reference.</documentation>
		</annotation>
	</element>
	<element name="eDataSource">
		<annotation>
			<documentation>Identifies the organisation from which the data is sourced. The name of
				the Local Authority/Utility/National Highways Agency or third party from whom the
				data was sourced.   </documentation>
		</annotation>
		<complexType mixed="true">
			<attribute name="id" type="string" use="required">
				<annotation>
					<documentation>Identifies the organisation from which the data is sourced. The
						name of the Local Authority/Utility/National Highways Agency or third party
						from whom the data was sourced. </documentation>
				</annotation>
			</attribute>
			<attribute name="district" type="string" use="optional">
				<annotation>
					<documentation>The Entity's Datasource Section ID. This is an official DfT code
						associated with the Publisher's SWA_ORG_REF. Ref:
						http://www.thensg.org.uk/iansg/link.htm?legacy=true&amp;nwid=20026
					</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="iDataSource">
		<annotation>
			<documentation>Identifies the organisation from which the data is sourced. The name of
				the Local Authority/Utility/National Highways Agency or third party from whom the
				data was sourced.   </documentation>
		</annotation>
		<complexType mixed="true">
			<attribute name="id" type="string" use="required">
				<annotation>
					<documentation>Identifies the organisation from which the data is sourced. The
						name of the Local Authority/Utility/National Highways Agency or third party
						from whom the data was sourced. </documentation>
				</annotation>
			</attribute>
			<attribute name="district" type="string" use="optional">
				<annotation>
					<documentation>The Entity's Datasource Section ID. This is an official DfT code
						associated with the Publisher's SWA_ORG_REF. Ref:
						http://www.thensg.org.uk/iansg/link.htm?legacy=true&amp;nwid=20026
					</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="iContractor" type="string">
		<annotation>
			<documentation>The name of the Contractor. i.e who is carrying out the
				work.</documentation>
		</annotation>
	</element>
	<element name="iFootwayClosure" type="boolean">
		<annotation>
			<documentation>Indicates whether the works will close the footway</documentation>
		</annotation>
	</element>
	<element name="iNoticeSequence" type="integer">
		<annotation>
			<documentation>The EToN notice sequence number</documentation>
		</annotation>
	</element>
	<element name="iNotificationType" type="integer">
		<annotation>
			<documentation>The last EToN Notification Type received See
				https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/181675/eton-6-technical-specification.pdf
				for details </documentation>
		</annotation>
	</element>
	<element name="iWorksCategory" type="integer">
		<annotation>
			<documentation>The EToN works category</documentation>
		</annotation>
	</element>
	<element name="iParkingSuspensions" type="boolean">
		<annotation>
			<documentation>The EToN parking suspensions flag</documentation>
		</annotation>
	</element>
	<element name="iNoticeOutgoing" type="boolean">
		<annotation>
			<documentation>The EToN outgoing flag</documentation>
		</annotation>
	</element>
	<element name="iPermitCondition" type="string">
		<annotation>
			<documentation>the EToN Permit Condition description</documentation>
		</annotation>
	</element>
	<element name="iOutOfHours" type="boolean">
		<annotation>
			<documentation>Is there out of hours working? An EToN field</documentation>
		</annotation>
	</element>
	<element name="iReinstateCategory" type="string">
		<annotation>
			<documentation>The Reinstatement Categories that apply to the road on which the works
				are being carried out. EToN only</documentation>
		</annotation>
	</element>
	<element name="iTrafficSensitive" type="string">
		<annotation>
			<documentation>The Traffic Sensitive information that applies to the road on whicih the
				works are being carried out. EToN only</documentation>
		</annotation>
	</element>
	<element name="iReverseRoute" type="boolean">
		<annotation>
			<documentation>If true then the reverse route of the TM diversion route plan
				applies</documentation>
		</annotation>
	</element>
	<element name="iSpeedLimit" type="integer">
		<annotation>
			<documentation>The speed limit in mph (if any) on the TM Item</documentation>
		</annotation>
	</element>
	<element name="iWeightRestriction" type="integer">
		<annotation>
			<documentation>The weight restriction in tonnes (if any) that applies to the TM
				Item</documentation>
		</annotation>
	</element>
	<complexType name="UnDerivedDateTimeSType">
		<simpleContent>
			<extension base="dateTime">
				<attribute name="estimated" type="boolean" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DateTimeSType">
		<simpleContent>
			<extension base="dateTime">
				<attribute name="estimated" type="boolean" use="required">
					<annotation>
						<documentation>Boolean flag to say the date is estimated or exact. This
							value is mandatory as where it is missing from the source data it is
							derived from the Entity (please see "derived" field)..</documentation>
					</annotation>
				</attribute>
				<attribute name="derived" type="boolean" use="required">
					<annotation>
						<documentation>Boolean flag to say the date is derived from its parent
							Entity. False indicates the date is present in the source
							data.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<element name="ePoint" type="e:PointCType">
		<annotation>
			<documentation>Point coordinate of Entity location</documentation>
		</annotation>
	</element>
	<element name="iPoint" type="e:PointCType"/>
	<complexType name="PointCType">
		<complexContent mixed="false">
			<extension base="gml:PointType">
				<attribute name="derived" type="boolean" use="required">
					<annotation>
						<documentation>Indicates whether the point location has been derived by
							Elgin. False indicates that the location was present in the source
							data.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="eWayPoints" type="e:WayPointsCType">
		<annotation>
			<documentation>A delimited list of coords that represent the user defined way points in
				a route. Ie: the points along the route explicitly defined by the user when
				digitising their route on the map.</documentation>
		</annotation>
	</element>
	<element name="iWayPoints" type="e:WayPointsCType">
		<annotation>
			<documentation>A delimited list of coords that represent the user defined way points in
				a route. Ie: the points along the route explicitly defined by the user when
				digitising their route on the map.</documentation>
		</annotation>
	</element>
	<element name="eLineString" type="e:LineStringCType">
		<annotation>
			<documentation>Entity line geometry is described in GML 3.1. Longitude and latitude and
				vertices are space delimited. </documentation>
		</annotation>
	</element>
	<element name="iLineString" type="e:LineStringCType">
		<annotation>
			<documentation>Item line geometry is described in GML 3.1. Longitude and latitude and
				vertices are space delimited. </documentation>
		</annotation>
	</element>
	<complexType name="LineStringCType">
		<complexContent mixed="false">
			<extension base="gml:LineStringType">
				<attribute name="derived" type="boolean" use="required">
					<annotation>
						<documentation>Indicates whether the LineString location has been derived by
							Elgin. False indicates that the location was present in the source
							data.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WayPointsCType">
		<choice maxOccurs="1" minOccurs="1">
			<element ref="gml:pos"/>
			<element ref="gml:posList"/>
		</choice>
		<attributeGroup ref="gml:SRSReferenceGroup"/>
	</complexType>
	<element name="ePolygon" type="e:PolygonCType">
		<annotation>
			<documentation>Entity polygon geometry is described in GML 3.1. Longitude and latitude
				and vertices are space delimited. The last vertex in a polygon is always the start
				and first vertex in the string.</documentation>
		</annotation>
	</element>
	<element name="iPolygon" type="e:PolygonCType">
		<annotation>
			<documentation>Item polygon geometry is described in GML 3.1. Longitude and latitude and
				vertices are space delimited. The last vertex in a polygon is always the start and
				first vertex in the string.</documentation>
		</annotation>
	</element>
	<complexType name="PolygonCType">
		<complexContent mixed="false">
			<extension base="gml:PolygonType">
				<attribute name="derived" type="boolean" use="required">
					<annotation>
						<documentation>Indicates whether the Polygon location has been derived by
							Elgin. False indicates that the location was present in the source
							data.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="eFrom" type="e:PointCType">
		<annotation>
			<documentation>Entity From/To route geometry is described in GML 3.1. Longitude and
				latitude and vertices are space delimited. The last vertex in a polygon is always
				the start and first vertex in the string.</documentation>
		</annotation>
	</element>
	<element name="eTo" type="e:PointCType">
		<annotation>
			<documentation>Entity From/To route geometry is described in GML 3.1. Longitude and
				latitude and vertices are space delimited. The last vertex in a polygon is always
				the start and first vertex in the string.</documentation>
		</annotation>
	</element>
	<element name="iFrom" type="e:PointCType">
		<annotation>
			<documentation>Item From/To data is described in GML 3.1. Longitude and latitude and
				vertices are space delimited. The last vertex in a polygon is always the start and
				first vertex in the string.</documentation>
		</annotation>
	</element>
	<element name="iTo" type="e:PointCType">
		<annotation>
			<documentation>Item From/To data is described in GML 3.1. Longitude and latitude and
				vertices are space delimited. The last vertex in a polygon is always the start and
				first vertex in the string.</documentation>
		</annotation>
	</element>
	<element name="eTrafficManagement" type="e:TrafficManagementCType">
		<annotation>
			<documentation>Traffic Management Code - only applies to EToN roadworks.</documentation>
		</annotation>
	</element>
	<simpleType name="PermitStatusCType">
		<restriction base="string">
			<enumeration value="None"/>
			<enumeration value="Application"/>
			<enumeration value="Application Made"/>
			<enumeration value="Refused"/>
			<enumeration value="Granted"/>
			<enumeration value="Revoked"/>
			<enumeration value="Superseded"/>
			<enumeration value="Cancelled"/>
			<enumeration value="PAA Granted"/>
			<enumeration value="Permit Granted"/>
			<enumeration value="Variation Granted"/>
			<enumeration value="PAA Pending"/>
			<enumeration value="Permit Pending"/>
			<enumeration value="Refused with PAA"/>
			<enumeration value="Refused with Permit"/>
			<enumeration value="PAA Variation Pending"/>
			<enumeration value="Permit Variation Pending"/>
			<enumeration value="Immediate Pending"/>
			<enumeration value="Refused Immediate"/>
			<enumeration value="Revoked Permit"/>
			<enumeration value="Revoked PAA"/>
			<enumeration value="PAA with Perm"/>
		</restriction>
	</simpleType>
	<simpleType name="TrafficManagementCType">
		<restriction base="string">
			<enumeration value="Contra-flow"/>
			<enumeration value="Footway closure"/>
			<enumeration value="Lane closure"/>
			<enumeration value="No carriageway incursion"/>
			<enumeration value="Road closure"/>
			<enumeration value="Some carriageway incursion"/>
			<enumeration value="Traffic control(convoy working)"/>
			<enumeration value="Traffic control(give and take)"/>
			<enumeration value="Traffic control(multi-way signals)"/>
			<enumeration value="Traffic control(priority working)"/>
			<enumeration value="Traffic control(stop/go boards)"/>
			<enumeration value="Traffic control(two-way signals)"/>
		</restriction>
	</simpleType>
	<simpleType name="TrafficImpactCType">
		<restriction base="string">
			<enumeration value="High - delays likely"/>
			<enumeration value="Medium - delays possible"/>
			<enumeration value="Low - delays unlikely"/>
		</restriction>
	</simpleType>
	<element name="eTrafficImpact">
		<annotation>
			<documentation>Estimated impact on road traffic of Entity</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="e:TrafficImpactCType"/>
			</simpleContent>
		</complexType>
	</element>
	<element name="eGroup">
		<annotation>
			<documentation>The top level category of "parent" Entity (can be thought of as the
				"Cause" or "Consequence")</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="e:EntityGroupSType"/>
			</simpleContent>
		</complexType>
	</element>
	<simpleType name="EntityGroupSType">
		<restriction base="string">
			<enumeration value="Roadworks"/>
			<enumeration value="Public Event"/>
			<enumeration value="Incident"/>
			<enumeration value="Unclassified"/>
		</restriction>
	</simpleType>
	<element name="eCategory">
		<annotation>
			<documentation>The category of "parent" Entity (can be thought of as the
				"Cause")</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="e:EntityCategorySType">
					<attribute name="SubCategory" type="e:EntitySubCategorySType" use="optional">
						<annotation>
							<documentation/>
						</annotation>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<simpleType name="EntityCategorySType">
		<restriction base="string">
			<enumeration value="Incident"/>
			<enumeration value="Accident"/>
			<enumeration value="Carnival / Parade / Street party"/>
			<enumeration value="Entertainment event"/>
			<enumeration value="Incident"/>
			<enumeration value="License (Other)"/>
			<enumeration value="Market"/>
			<enumeration value="Materials"/>
			<enumeration value="Obstruction"/>
			<enumeration value="Public event"/>
			<enumeration value="Roadworks"/>
			<enumeration value="Roadworks / Licence"/>
			<enumeration value="Scaffolding"/>
			<enumeration value="Skip"/>
			<enumeration value="Sport event"/>
			<enumeration value="Unclassified"/>
			<enumeration value="Weather incident"/>
		</restriction>
	</simpleType>
	<simpleType name="EntitySubCategorySType">
		<restriction base="string">
			<enumeration value="Accident"/>
			<enumeration value="Carnival / Parade / Street party"/>
			<enumeration value="Crane"/>
			<enumeration value="Cruise ship"/>
			<enumeration value="Cycling"/>
			<enumeration value="Development works"/>
			<enumeration value="Emergency works"/>
			<enumeration value="Entertainment event"/>
			<enumeration value="Festival"/>
			<enumeration value="Flood"/>
			<enumeration value="Football"/>
			<enumeration value="Funeral"/>
			<enumeration value="Hoarding"/>
			<enumeration value="Horse racing"/>
			<enumeration value="Incident"/>
			<enumeration value="Landslip"/>
			<enumeration value="Market"/>
			<enumeration value="Materials on highway"/>
			<enumeration value="Motor sport event"/>
			<enumeration value="Obstruction"/>
			<enumeration value="Other"/>
			<enumeration value="Roadworks"/>
			<enumeration value="Rugby"/>
			<enumeration value="Running"/>
			<enumeration value="Scaffolding"/>
			<enumeration value="Skip"/>
			<enumeration value="Sport event"/>
			<enumeration value="Table &amp; chairs"/>
			<enumeration value="Weather event"/>
		</restriction>
	</simpleType>
	<element name="iType">
		<complexType>
			<simpleContent>
				<extension base="e:ItemTypeSType"/>
			</simpleContent>
		</complexType>
	</element>
	<simpleType name="ItemTypeSType">
		<restriction base="string">
			<enumeration value="Advisory and preferred access route"/>
			<enumeration value="Bridge closure"/>
			<enumeration value="Contraflow"/>
			<enumeration value="Closed to HGVs"/>
			<enumeration value="Convoy working"/>
			<enumeration value="Diversion route"/>
			<enumeration value="Footway closure"/>
			<enumeration value="Gritting in progress"/>
			<enumeration value="Give and take"/>
			<enumeration value="HGV diversion route"/>
			<enumeration value="HGV road closure"/>
			<enumeration value="Lane closure"/>
			<enumeration value="Multi-way traffic signals"/>
			<enumeration value="No carriageway incursion"/>
			<enumeration value="No left turn"/>
			<enumeration value="No right turn"/>
			<enumeration value="Clearway / no stopping"/>
			<enumeration value="No vehicle access"/>
			<enumeration value="Temporary one-way"/>
			<enumeration value="Temporary parking restriction"/>
			<enumeration value="Priority signs"/>
			<enumeration value="Road ahead closed"/>
			<enumeration value="Road closure"/>
			<enumeration value="Road closure crossing point"/>
			<enumeration value="Stop and go"/>
			<enumeration value="Some carriageway incursion"/>
			<enumeration value="Temporary speed limit"/>
			<enumeration value="Suspension of parking restriction"/>
			<enumeration value="Suspension of weight restriction"/>
			<enumeration value="Undefined road closure"/>
			<enumeration value="Two-way traffic signals"/>
			<enumeration value="Tow away zone"/>
			<enumeration value="Weight restriction"/>
			<enumeration value="Works stop"/>
			<enumeration value="Unclassified"/>
		</restriction>
	</simpleType>
</schema>
