elginAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:api="http://www.elgin.org.uk/schemas/api" 
    xmlns:e="http://www.elgin.org.uk/schemas/data"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    name="Elgin" 
    targetNamespace="http://www.elgin.org.uk/schemas/api">
    <types>
        <s:schema targetNamespace="http://www.elgin.org.uk/schemas/api">
            <s:import namespace="http://www.elgin.org.uk/schemas/data" 
                schemaLocation="elginItems.xsd"/>
            <s:element name="GetData">
                <s:complexType>
                    <s:choice maxOccurs="1">
                        <s:element name="EntityOriginatingSystem" type="s:string"/>
                        <s:element name="ItemOriginatingSystem" type="s:string"/>
                        <s:element name="DataSourceID" type="s:string"/>
                        <s:element name="HighwayAuthorityID" type="s:string"/>
                        <s:element name="EntitySourceID" type="s:string"/>
                        <s:element name="StartDate" type="s:dateTime"/>
                        <s:element name="EndDate" type="s:dateTime"/>
                        <s:element name="LastUpdated" type="s:dateTime"/>
                        <s:element name="EntityGroup" type="e:EntityGroupSType"/>
                        <s:element name="EntityCategory" type="e:EntityCategorySType"/>
                        <s:element name="ItemType" type="e:ItemTypeSType"/>
                    </s:choice>
                    <s:attribute name="DataGrouping" type="e:DataCType"/>
                </s:complexType>
            </s:element>
            <s:element name="GetDataResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="e:Out"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PublishData">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="e:In"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PublishDataResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="success" type="s:boolean"></s:element>
                        <s:element name="message" type="s:string"></s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="GetDataRequest">
        <part element="api:GetData" name="parameters"></part>
    </message>
    <message name="GetDataResponse">
        <part element="api:GetDataResponse" name="parameters"></part>
    </message>
    <message name="PublishDataRequest">
        <part name="parameters" element="api:PublishData"></part>
    </message>
    <message name="PublishDataResponse">
        <part name="parameters" element="api:PublishDataResponse"></part>
    </message>
    <portType name="Elgin">
        <operation name="GetData">
            <input message="api:GetDataRequest"></input>
            <output message="api:GetDataResponse"></output>
        </operation>
        <operation name="PublishData">
            <input message="api:PublishDataRequest"></input>
            <output message="api:PublishDataResponse"></output>
        </operation>
    </portType>
    <binding name="ElginSOAP" type="api:Elgin">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="GetData">
            <soap:operation
                soapAction="http://www.elgin.org.uk/elgin/api/GetData" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="PublishData">
            <soap:operation
                soapAction="http://www.elgin.org.uk/elgin/api/PublishData" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="Elgin">
        <port binding="api:ElginSOAP" name="ElginSOAP">
            <soap:address location="http://services.roadworks.org/api/" />
        </port>
    </service>
</definitions>
